// Definir variables

// Colores corporativos
$header-color-fondo:#A8323C;
$header-color-letra: #CCCCCC;

// Tipografía
$tipografia-sans-serif:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ;

