// Colores del header
$color_background_header:#003f7a;
$color_font_header:#ffff;

// Colores del footer


// Reestablecemos los valores del body a cero
body{
    margin: 0;
    padding: 0;
}
.header{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    color:$color_font_header;
    background-color: $color_background_header;
    .header__img{
        display: flex;
        grid-column: 2/4;
        align-items: center;
        justify-content: center;
        img{
            height: 150px;
            max-height: 150px;
            width: auto;
        }
    }
    .header__h2{
        display:flex;
        grid-column: 6/11;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 2em;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
}

.main{

}

.footer{

}