// Creación de variables a usar (colores)
// Textos
$color-texto_defecto: #222222;
$cabecera-texto: #FFFFFF;
$cabecera-fons: #000000;
$footer-texto: #FFFFFF;
$footer-fons: #3B3B3B;

// Enlaces
$enlace: #CC0000;
$enlace_hover: #2222;

// Menu de navegación
$navegacion-enlace: #2222;
$navegacion-enlace_hover: #CC0000;
$navegacion-borde: #CC0000;

// Bordes y fondo
$bordes: #DDDDDD;
$fondo: #EEEEEE;

// Modificamos los valores por defecto del body
body{
    margin: 0;
    padding: 0;
}
// Header
.header{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: $cabecera-fons;
    border-bottom: 2px $bordes;

    .header__imagen{
        grid-column: 3/11;
    }
    .header__titulo{
        grid-column: 3/11;

        h1{
            color: $cabecera-texto;
            font-family: 'Arial', sans-serif;
        }
    }
    
}

// nav 
.nav__zonaNavegacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    div {
        padding-left: 1em;
        padding-right: 1em;
        a{
            text-decoration: none;
            color: $navegacion-enlace;
        }
        a:hover{
            border-bottom: 2px solid $enlace;
        }
    }
    border-bottom: 3px solid $footer-fons;
}