// Creación de variables a usar (colores)
// Textos
$color-texto_defecto: #222222;
$cabecera-texto: #FFFFFF;
$cabecera-fons: #000000;
$footer-texto: #FFFFFF;
$footer-fons: #3B3B3B;

// Enlaces
$enlace: #CC0000;
$enlace_hover: #2222;

// Menu de navegación
$navegacion-enlace: #2222;
$navegacion-enlace_hover: #CC0000;
$navegacion-borde: #CC0000;

// Bordes y fondo
$bordes: #DDDDDD;
$fondo: #EEEEEE;

// Modificamos los valores por defecto del body
body{
    margin: 0;
    padding: 0;
    overflow: visible;
}
// Header
.header{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: $cabecera-fons;
    border-bottom: 2px $bordes;

    .header__imagen{
        margin-top:4px;
        grid-column: 3/11;
    }
    .header__titulo{
        grid-column: 3/11;

        h1{
            color: $cabecera-texto;
            font-family: 'Arial', sans-serif;
        }
    }
    
}

// nav 
.nav__zonaNavegacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    border-bottom: 2px solid $bordes;
    position: sticky;
    top:0;
    background-color: $fondo;
    div {
        padding-left: 1em;
        padding-right: 1em;
        a{
            text-decoration: none;
            color: $color-texto_defecto;
            padding-bottom: 5px;
        }
        a:hover{
            border-bottom: 3px solid $enlace;
        }
        .a__activo{
            border-bottom: 3px solid $enlace;
        }
    }
}

// Main 
.main{
    display: grid;
    grid-template-columns: repeat(12,1fr);

    .main__titulo{
        grid-column: 3/11;
        p{
            font-weight: bold;
        }
        a{
            text-decoration: none;
            color: $enlace;
            font-size: 1.02em;
            font-weight: bold;
        }
        h1{
            font-size: 3em;
        }
    }
    .main__parrafoIntroductorio{
        grid-column: 3/11;
        border-top: 3px solid $bordes;
        border-bottom: 3px solid $bordes;
        margin-right: 3.5%;
        margin-left: 3.5%;
        p{
            font-size: 1.9rem;
            text-align: justify;
            margin-right: 1%;
            margin-left: 1%;
        }
    }
    .main__zonaImagen {
        grid-column: 3/11;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    
        img {
            max-width: 90%;
            height: auto;
            margin-bottom: 1px;
        }
    
        p {
            text-align: center;
    
            a {
                text-decoration: none;
                color: $enlace;
            }
        }
    }
    .main__textoPrincipal{
        grid-column: 3/11;
        p{
            text-align: justify;
        }
    }
    .main__zonaVideo{
        grid-column: 3/11;
    }
    .main__zonaBiografia{
        grid-column: 4/10;
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;
        img{
            border-radius: 50%;
        }
        p{
            padding-left: 5px;
        }
    }
    .main__zonaBibliografia{
        grid-column: 4/10;
        padding-top: 35px;
        padding-bottom: 35px;
        p{
            font-style: italic;
        }
        a{
            text-decoration: none;
            color:$enlace;
        }
    }
}

.footer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: $footer-fons;
    height: 15vh;
    .footer__zonaContenido{
        grid-column: 3/11;
        img{
            padding-top: 15px;
        }
        p{
            color:$footer-texto;
        }
    }
}