// Colores header
$color1-header: #F2F2F2;
$color2-header: #1ABDF0;
$color-header--font: #000000;

// Tipografias
// OpenDyslexic
@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic/OpenDyslexic-Regular.otf') format('truetype');
}

// Urbanist
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
}

// Ubuntu-regular
@font-face {
    font-family: 'Ubuntu-regular';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

// Ubuntu-bold
@font-face {
    font-family: 'Ubuntu-bold';
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: linear-gradient(90deg, $color1-header 0%, rgba($color2-header, 0.62) 121.53%);
    height: 15vh;
    align-items: center;

    .header__zonaLogo {
        grid-column: 2/4;

        img {
            max-height: 150px;
            width: auto;
        }
    }

    .header__zonaNavegacion {
        grid-column: 6/12;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        a {
            font-family: 'Urbanist';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            color: $color-header--font;
            text-decoration: none;
        }

        .zonaNavegacion__desplegable {
            position: relative;
            display: inline-block;
        }

        .desplegable__contenido {
            display: none;
            position: absolute;
            background-color: #1ABDF0;
            width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(17, 17, 17, 0.2);
            z-index: 1;
            margin-top: 1px;
            text-align: center;
        }

        .desplegable__contenido a {
            font-family: 'Urbanist';
            font-style: normal;
            font-size: 20px;
            line-height: 38px;
            color: $color-header--font;
            text-decoration: none;
            padding: 12px 16px;
            display: block;
            text-align: center;
            margin: 0 auto;
        }

        .desplegable__contenido a:hover {
            background-color: #abe2f3;
        }

        .zonaNavegacion__desplegable:hover .desplegable__contenido {
            display: block;
        }
    }
}

.main {
    max-height: 90vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(90deg, $color1-header 0%, rgba($color2-header, 0.62) 121.53%);
    // .main__picture {

    //     overflow: hidden;
    //     max-height: 90vh;

    //     .img {
    //         width: 100%;
    //         height: auto;
    //         max-height: 90vh;
    //         object-fit: cover;
    //     }
    // }
    .main__carrousel {
        width: 100%;
        height: 100%;
        max-width: 140em;
        // padding: 1em;
        overflow: hidden;

        .carrousel__grande {
            width: 300%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            //padding: 1em;
            transition: all .5s ease;
            transform: translateX(0%);

            .grande__picture {
                width: calc(100% / 3);
                display: flex;
                justify-content: center;
                align-items: center;

                .img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .carrousel__botones {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            .botones__boton {
                width: 30px;
                height: 30px;
                margin: 0 5px;
                background-color: rgba(105, 105, 105, 0.5);
                border-radius: 50%;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            .botones__boton:hover {
                background-color: rgb(131, 129, 126);
            }

            .activo {
                background-color: rgb(95, 177, 255);
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #F2F2F2 0%, rgba(26, 189, 240, 0.62) 121.53%);
    height: 7vh;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px; // Añadimos espaciado interno
    z-index: 2;

    &__infoLegal {
        font-family: 'Urbanist';
        font-weight: bold;
        font-size: 16px;
    }

    &__infoGeneral {
        display: flex;
        align-items: center;

        a {
            margin-right: 20px;
            text-decoration: none;
            color: black;
            font-family: 'Urbanist';
            font-weight: bold;
            font-size: 16px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__rrss {
        display: flex;
        align-items: center;

        a {
            margin-left: 20px;
        }

        img {
            max-height: 25px;
        }
    }
}