/* Nos cargamos el margen por defecto del body */
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

/* Añadimos las fuentes correspondientes*/
@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Regular.ttf") format("truetype");
}

*{
    font-family: "Lato",sans-serif;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ef5350;
}

.header__zonaLogo{
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.header__zonaLogo img{
    width: 105px;
    height: auto;
}
.header__zonaLogo:hover{
    background-color: #ef5350;
}

.header__zonaNavegacion{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__zonaNavegacion__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.header__zonaNavegacion a{
    height: 50px;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}
.header__zonaNavegacion a:hover{
    height:50px;
    text-decoration: underline;
    text-decoration-color: aliceblue;
    background-color: rgb(206, 60, 60);
}

/* Zona Main */
.main{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: minmax(150px,auto);
}

.main__zonaNavegacion{
    display:flex;
    flex-direction: column;
    top: 0px;
    height: calc(100vh);
    grid-column: 3/4;
    position: sticky;
    background-color: white;
    padding-top: 0px;
    padding-left: 15px;
}

.main__zonaNavegacion a{
    color: rgba(0,116,236,.9294117647058824);
    text-decoration: none;
}

.main__zonaNavegacion a:hover{
    background-color: rgba(187,239,253,.3);
    text-decoration: underline;
}

.main__zonaNavegacion ul{
    list-style: none;
    color:darkcyan;
    font-size: 0.9em;
    padding: 0;
}

.main__zonaContenido{
    grid-column: 4/9;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
}

.main__zonaContenido kbd{
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #fff;
    background-color: #e4e6e8;
    border: 1px solid #9fa6ad;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(12,13,14,.14901960784313725),inset 0 1px 0 0 #fff;
    white-space: nowrap;
    vertical-align: bottom;
}

.main__zonaContenido hr{
    border:none;
    height:1px;
    margin-right: 5px;
    background-color: #ef5350;
}


