<!-- 
    HTML que incluye lightbox para los proyectos de UBRIWEB
 -->
 <section class="main__lightbox-proyectos">
    <div class="lightbox-proyectos__div-img">
        <img class="div-img__img" src="./assets/images/vr1.jpg" alt="imagen 1">
    </div>
    <div class="lightbox-proyectos__div-img">
        <img class="div-img__img" src="./assets/images/vr2.jpg" alt="imagen 2">
    </div>
    <div class="lightbox-proyectos__div-img">
        <img class="div-img__img" src="./assets/images/vr3.jpg" alt="imagen 3">
    </div>
 </section>
 <section class="main__ligtbox-proyectos-selected">
    <button class="ligtbox-proyectos-selected__boton">Cerrar</button>
    <div class="ligtbox-proyectos-selected__div-img">
        <img class="div-img__img" src="./assets/images/vr2.jpg" alt="imagen 2">
    </div>
 </section>