body{
    margin: 0;
    padding:0;
}

.login_main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    min-height: 90vh;
    .main__zonaCorporativa{
        grid-column: 2/7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: aquamarine;
    }
    .main__zonaForm{
        grid-column: 7/12;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: darkkhaki;
        .zonaForm_login-form{
            border: 2px solid black;
            border-radius: 15px;
            padding: 2em 1em 2em 1em; //top right bottom left

            .login-form_box{
                margin-bottom: 1em;
                display: flex;
                flex-direction: column;
            }
        }
    }
}